@model IEnumerable<NMTCourses.Models.Student>

@{
    ViewData["Title"] = "Список учнів";
}

<h1>Список учнів</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-dark">Додати нового учня</a>
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">
            <!-- Встановлено відступ між картками -->
            <div class="card" style="border: 2px solid black; border-radius: 5px; text-align: center;">
                <div class="card-body">
                    <h5 class="card-title" style="color: blue;">@Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Email)</p>
                    <div class="d-flex justify-content-around">
                        <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-outline-dark">Редагувати</a>
                        <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-outline-dark">Деталі</a>
                        <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-outline-dark">Видалити</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<style>
    .btn-outline-dark {
        color: black;
        background-color: white;
        border: 1px solid black;
        transition: background-color 0.3s ease; /* Додана анімація при наведенні */
    }

        .btn-outline-dark:hover {
            background-color: #b2e0ff; /* Світло-голубий колір при наведенні */
        }

    .card {
        padding: 20px; /* Внутрішнє відступи */
        height: 100%; /* Забезпечує однакову висоту карток */
    }
</style>
